.selector {
    border: 1px solid red;
    padding: 20px;
}

.output {
    border: 1px solid red;
}

.element {
    width: 70%;
    height: 60%;
    background-color: #faebd7;
    margin: auto;
}

.nav {
    background-color: blue;
    border-bottom: 1px solid black;
}

.nav-item {
    cursor: pointer;
}